* {
  text-align: center;
  place-content: space-evenly;
  padding: 1px;
  margin: 1px;
}
img {
  width: clamp(320px, 100%, 1980px);
  
}
/* .scrollable-image {
  position: relative;
  margin: 2px;
  display: inline-flex;
}
.scrollable-image > img {
  width: 200px;
  display: inline-flex;
} */

.carousel-item {
  background: #777;
  position: relative;
}

.carousel-item>img {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}