h1 {
  text-align: center;
}
iframe {
  width: 280px;
}
.video-frame {
  background-color: #E5E5E5;
  display: inline-block;
  text-align: center;
  margin: 10px;
  place-content: center;
}
.video-frame>p{
padding: 5px;
margin: 2px;
}