img {
  width: clamp(320px, 100%, 1980px);
  
}
.image{
text-align: center;
}
.carousel-item {
  background: #777;
  position: relative;
}

.carousel-item>img {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}