.know{
    margin: auto;
    padding: auto;
    display: inline-block;
    width: 50%;
    padding-bottom: 15px;
}
.know>button{
    margin: auto;
    padding: auto;
    width: 50%;
    
}
.banner{
    background-color: rosybrown;
}
.img-responsive{
    margin: auto;
    padding:auto;
    width: 50%;
    display: inline-flex;
    align-self: start;
}
.cards{
    margin: 5px;
    padding:15px;
    width: 25%;
    display: inline-block;
    background: grey;
}
.cards>i{
    display: inline;
    align-self: center;
}
.member-content{
    margin: auto;
    padding:auto;
    width: 45%;
    display: inline-block;
    align-items: start;
    padding-bottom: 15px;
}
.member-btn{
    margin: auto;
    padding: auto;
    width: 100%;
    display: inline-block;
}


/* (A) FIXED WRAPPER
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    /* background: #eee;
  } */
   
  /* (B) MOVING TICKER WRAPPER */
  /* .hmove { display: flex; } */
  
  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  /* .hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  } */
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  /*@keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
  }
  .hmove { animation: tickerh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; } */