h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 160px;
  left: 15px;
  color:#fff;
  width: 180px;
  height: 30px;
}
.bottom-left>a{
  color:#666 !important;
  font-size: 15px;
}
.scrollable-news{
  border: 5px solid #6ad;
  width: clamp(180px,40%,720px);
  height: clamp(180px,100%, 720px);
  padding: 20px;
  margin: 20px;
}
.stats{
  display: flex;
  background-color: #ddf;
}
.top{
  display: flex;
}
.image>img{
  width: 500px;
  height: 500px;
}
/* Testimonials decoration */
.testimonials {
  position: relative;
  border: 2px solid #236;
  border-radius: 5px;
  padding: 10px;
  margin: 16px 0;
  width: clamp(180px,95%, 1500px);
  text-align: center;
  background-color: #dd6;
}
.testimonials>p{
  position: relative;
  bottom: 30px;
  width: 90%;
}
.testimonials>img {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 40px;
  text-align: center;
  border-radius: 50px;
}

/* vetical line in between our status tab */
.vl{
  width: 10px;
  height: 60px;
  background-color: #000;
  text-decoration-style: dotted;
}