h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 200px;
  left: 15px;
  color: #fff;
  width: 180px;
  height: 30px;
  padding-left: 20px;
}
.bottom-left > a {
  color: #666 !important;
  font-size: 15px;
  bottom: 30px;
}
.scrollable-news {
  border: 5px solid #6ad;
  width: clamp(180px, 40%, 720px);
  height: clamp(180px, 100%, 720px);
  padding: 20px;
  margin: 20px;
}
.news-container {
  height: 50%;
}
.news {
  border: 2px solid #000;
}
.news p {
  margin: auto;
}
.news .card-description {
  padding: 15px;
}

.even-card {
  background-color: rgb(216, 216, 216);
}
.stats {
  display: flex;
  background-color: #ddf;
}
/* .top {
  display: flex;
} */
.card-img {
  width: 500px;
  height: 500px;
}
/* Testimonials decoration */
/* .testimonials {
  position: relative;
  border: 2px solid #236;
  border-radius: 5px;
  padding: 10px;
  margin: 16px 0;
  width: clamp(180px,95%, 1500px);
  text-align: center;
  background-color: #dd6;
}
.testimonials>p{
  position: relative;
  bottom: 30px;
  width: 90%;
}
.testimonials>img {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 40px;
  text-align: center;
  border-radius: 50px;
} */
.rounded-circle {
  margin: 0 auto;
  width: 120px;
  padding: 10px;
  border: 5px dotted #ffffff;
  border-radius: 100px;
}
.carousel-item {
  position: relative;
  margin: 0 15px;
  text-align: center;
}
.inspiration-img {
  position: relative;
  margin-bottom: 15px;
  z-index: 1;
}
.carousel-item p {
  position: relative;
  margin-top: -70px;
  padding: 55px 35px 30px 35px;
  text-align: center;
  background: #b25def;
  border-radius: 500px;
}
.carousel .card-group {
  position:relative;
  height: 300px;
  background-color: #6ad;
  padding-right :25px;
}
/* vetical line in between our status tab */
.row .vl {
  width: 1px !important;
  padding: 2px;
  background-color: #666;
  /* text-decoration-style: dotted; */
}
