<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="css/nav.css">
</head>

<body>
    <nav>
        Teloh
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="../about.html">about Us</a></li>
            <div class="dropdown">
                <button class="dropbtn">Gallery
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="Gallery_image.html">photo</a>
                    <a href="Gallery_video.html">video</a>
                </div>
            </div>
            <li><a href="../offering.html">Offering</a></li>
            <li><a href="../cusines.html">Cusines</a></li>
            <li><a href="../our_team.html">Team</a></li>
            <li><a href="../work.html">Work</a></li>
            <li><a href="../signin.html">Sign In</a></li>
        </ul>
    </nav>
</body>

</html>