<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="nav.css">
</head>

<body>
    <nav>
            Teloh
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about Us</a></li>
            <details>
            <summary>Gallery</summary>
            <li>
                <li><a href="#">photo</a></li>
                <li><a href="#">video</a></li>
            </li>
            </details>
            <li><a href="#">Offering</a></li>
            <li><a href="#">Cusines</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </nav>
</body>

</html>